.container {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

h1 {
    font-size: 22px;
    color: goldenrod;
}
.dialoguesList {
    list-style: none;
    margin: 0;
}
.dialoguesItem {
    color: aliceblue;
    padding-bottom: 10px;
}
.dialoguesItem.active {
    font-size: 22px;
    color: goldenrod;
}
.messagesList {
    list-style: none;
}
.messagesItem {
    font-style: italic;
    padding-bottom: 15px;
}
