.container {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px;
}

.dialoguesList {
    list-style: none;
}

.dialoguesItem {
    padding-bottom: 33px;
}
.dialoguesLink {
    text-decoration: none;
    font-size: 22px;
    color: palegoldenrod;
    padding-bottom: 20px;
}

.messagesList {
    list-style: none;
}
.messagesItem {
    font-style: italic;
    font-size: 20px;
    color: palegoldenrod;
    padding-bottom: 20px;
}
