.sidebarMenu {
    grid-area: sidebar;
    background-color: darksalmon;
}
.sidebarItem {
    padding: 14px;
}
.sidebarList,
.friendsList {
    list-style: none;
}
.sidebarLink {
    color: darkolivegreen;
    font-size: x-large;
    text-decoration: none;
}
.active {
    color: darkslategrey;
}
