body {
  width: 1200px;
  margin: 0 auto;
}
.container {
  display: grid;
  grid-template-areas:
    "h h h"
    "sidebar p p";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.container-bg {
  grid-area: p;
  background-color: darkslategrey;
}
